
@model ClothBazar.Entities.AppointmentList


@{
    ViewBag.Title = "Service Page";
    var imageUrl = "/Content/images/pattern/3.png";

}

<h2>Service Create</h2>

@*<p>
        @Html.ActionLink("Dispensary", "Create")
    </p>*@


<form id="editTable">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="row">

        <div class="col-md-12">

            <div class="editor-field">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" /><br />
                @*@Html.EditorFor(Model => Model.Name)*@
            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="Email" value="@Model.Email" /><br />
                @*@Html.EditorFor(Model => Model.Email)*@
            </div>

            <div class="form-group">
                <label>SerialNum</label>
                <input class="form-control" name="SerialNum" value="@Model.SerialNum" /><br />
                @*@Html.EditorFor(Model => Model.SerialNum)*@
            </div>

            <div class="form-group">
                <label>Problem</label>
                <input class="form-control" name="Problem" value="@Model.Problem" /><br />
                @*@Html.EditorFor(Model => Model.Problem)*@
            </div>

            <div class="form-group">
                <label>Date</label>
                <input class="form-control" name="Date" value="@Model.Date" /><br />
                @*@Html.EditorFor(Model => Model.Date)*@
            </div>


            <div class="form-group">
                <label>Doctor Name</label>
                <input class="form-control" name="DoctorName" value="@Model.DoctorName"><br />
                @*@Html.EditorFor(Model => Model.DoctorName)*@
            </div>

            <div class="form-group">
                <label>Time</label>
                <input class="form-control" name="Time" value="@Model.Time"><br />
                @*@Html.EditorFor(Model => Model.DoctorName)*@
            </div>


            @*@for (int i = 0; i < Model.DrugService.Count; i++)
                {
                    <div class="editor-field">
                        @Html.DisplayFor(m => m.DrugService[i].Name)
                    </div>

                    <div class="editor-field">
                        @Html.EditorFor(m => m.DrugService[i].ServiceAmount)
                    </div>


                }*@
            <button id="updatebtn" class="btn btn-primary" type="button">Update</button>
            <button id="cancelbtn" class="btn btn-primary" type="button">Cancel</button>
        </div>
    </div>

</form>
<script>
    $("#updatebtn").click(function () {
        $.ajax({
            type: "POST",
            url: '/Administrative/Edit',
            data: $("#editTable").serialize()
        })
            .done(function (response) {
                alert(response);
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    $("#cancelbtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });

</script>