@model ClothBazar.Entities.WeeklyDoctorListViewModel
@{
    ViewBag.Title = "Appoint";
    var val = Model.WeeklyDoctorLists;
}

<h2>Appoint</h2>

@*<p>
        @Html.ActionLink("Dispensary", "Create")
    </p>*@


<form id="createTable">

    <div class="row">

        <div class="col-md-8">

            <div class="editor-field">
                <label>Name</label>
                <input class="form-control" name="Name" /><br />
                @*@Html.EditorFor(Model => Model.Name)*@
            </div>

            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="Email" /><br />
                @*@Html.EditorFor(Model => Model.Email)*@
            </div>

            <div class="form-group">
                <label>Problem</label>
                <input class="form-control" name="Problem" /><br />
                @*@Html.EditorFor(Model => Model.Problem)*@
            </div>

            <div class="form-group">
                <label>Date</label>
                @*<input class="form-control" name="Date" /><br />*@
                @*@Html.EditorFor(Model => Model.Date)*@
                <select class="form-control" name="Date" >
                    @foreach (var app in val)
                    {
                     <option value="@app.Date">@app.Date</option>
                    }

                </select>

            </div>


            <div class="form-group">
                <label>Doctor Name</label>
                @*<input class="form-control" name="DoctorName" value="@val[0].DoctorName"><br />*@
                @*@Html.EditorFor(Model => Model.DoctorName)*@
                <select class="form-control" name="DoctorName">
                    @foreach (var app in val)
                    {
                        <option value="@app.DoctorName">@app.DoctorName</option>
                    }

                </select>
            </div>

            <div class="form-group">
                <label>Time</label>
                <select class="form-control" name="Time">
                    @foreach (var app in val)
                    {
                        <option value="@app.Time">@app.Time</option>
                    }

                </select>
                @*<input class="form-control" name="Time"><br />*@
                @*@Html.EditorFor(Model => Model.DoctorName)*@
            </div>


            @*@for (int i = 0; i < Model.DrugService.Count; i++)
                {
                    <div class="editor-field">
                        @Html.DisplayFor(m => m.DrugService[i].Name)
                    </div>

                    <div class="editor-field">
                        @Html.EditorFor(m => m.DrugService[i].ServiceAmount)
                    </div>


                }*@

            <button id="savebtn" class="btn btn-primary" type="button">Create</button>
            <button id="cancelbtn" class="btn btn-primary" type="button">Cancel</button>
        </div>

        <div class="col-md-4">
            <h2>Doctor List For Upcoming week</h2>
            <table class="table">
                <tr>
                    <th>Doctor Name</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                @foreach( var app in val){
                <tr>
                    <td>@app.DoctorName</td>
                    <td>@app.Date</td>
                    <td>@app.Time</td>
                </tr>
                }

            </table>

        </div>

    </div>

</form>

<form id="selectTable"></form>
<script>

    $("#savebtn").click(function () {

        //var array = {};
        //var val = $("#createTable").serialize();
        //val.forEach(function (item, index) {
        //    array].push(item.dispensaryServices);
        //}
        //debugger;
        //var currentForm = $("#createTable").find('form');
        //var mainForm = $("#selectTable").find('form');
        //$.post("Dispensary/Create", { dispensaryServices: currentForm.serialize(), drugLists: mainForm.serialize() }, function (data) {
        //    $('#selectTable').empty();
        //    $('#selectTable').append(data);
        //    alert(response);
        //});

        $.ajax({
            url: '/WeeklyDoctorList/Appoint',
            type: "POST",
            data: $("#createTable").serialize()
        })
        .done(function (response) {
            alert("OKKKKKK......");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Wrong......");
        });
    });




    $("#cancelbtn").click(function () {
        $("#actionContainer").html("");
        //focusAction("tableContainer");
    });

</script>